{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main>

    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <h1 class="h2 hero-title">Angor tumani Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi bo'limi  </h1>

       

            <button class="btn btn-primary">Batafsil</button>

          </div>

          <div class="hero-banner"></div>

        </div>

        <img src="../static/images/bg.png" alt="shape" class="shape-content">
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="about" id="about">
        <div class="container">

          <div class="about-top">

            <h2 class="h2 section-title">Yangiliklar</h2>


            <div class="row g-3">
              {% for item in news %}
              <div class="col-12 col-md-4">
                <div class="about-card">

                  <div class="card-img">
                    <img src="{{item.img.url}}" alt="">
                  </div>

                  <h3 class="h3 card-title">Paid Search and Social Management</h3>

                  <p class="card-text">
                    Each time a digital asset is purchased or sold, Sequoir donates a percentage of the fees back
                  </p>

                </div>
              </div>
              {% endfor %}


            </div>

              

         

          </div>



        </div>
      </section>



      <!-- 
        - #CONTACT
      -->

      <section class="contact"  id="contact">
        <div class="container p-5">
          <div class="row">
            <div class="col-md-6">
              <h2 class="h2 contact-title">Biz bilan bog'lanish</h2>

            
              <img src="../static/images/call-center-system-ste2-removebg-preview.png" alt="contact banner">
           
            </div>
            <div class="col-md-6">
              <form action="" class="contact-form">

                <div class="input-wrapper">
                  <label for="name" class="input-label">Ism *</label>
    
                  <input type="text" name="name" id="name" required placeholder="Type Name" class="input-field">
                </div>
    
                <div class="input-wrapper">
                  <label for="phone" class="input-label">Telefon</label>
    
                  <input type="tel" name="phone" id="phone" placeholder="Type Phone Number" class="input-field">
                </div>
    
                <div class="input-wrapper">
                  <label for="email" class="input-label">Email adres *</label>
    
                  <input type="email" name="email" id="email" required placeholder="Type Email Address" class="input-field">
                </div>
    
                <div class="input-wrapper">
                  <label for="message" class="input-label">Qanday yordam berolamiz? *</label>
    
                  <textarea name="message" id="message" placeholder="Type Description" required
                    class="input-field"></textarea>
                </div>
    
                <button type="submit" class="btn btn-primary">Xabarni yuborish</button>
    
              </form>
            </div>
          </div>
  

         

        </div>
      </section>

    </article>

  </main>
{% endblock content %}


