{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="header">
  <h1>{{news.title}}</h1>

</div>
<div class="container">
    <div class="row mt-3">
    <div class="col-12 col-md-8 shadow p-3">
         <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Bosh sahifa</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{news.title}}</li>
          </ol>
         </nav>
        <h3 class="text-center">{{news.title}}</h3>
        <p>{{news.content |safe }}</p>
    </div>
    <div class="col-12 col-md-4 shadow p-0">
        <div class="telegram-banner">
            <img class="" src="{% static 'images/telegram.png' %}" alt="telegram.png">
            <div class="text-box">
                <div class="text">
                    <h2 class="fw-bold">Telegram kanalimiz</h2>
                    <p>Angor tumani Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi bo'limi</p>
                    <button class="btn btn-light">A'zo bo'lish</button>
                </div>
            </div>
        </div>
                <div class="telegram-banner mt-3">
            <img class="" src="{% static 'images/message.jpg' %}" alt="telegram.png">
            <div class="text-box">
                <div class="text">
                    <h2 class="fw-bold">Xabar qoldirish</h2>
                    <p>Angor tumani Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi bo'limi</p>
                    <button class="btn btn-light">Bot ga kirish</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock content %}